
.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
  margin-bottom: 20px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-logo.zoom-fade {
  transform: scale(2.5); /* Zoom in */
  opacity: 0; /* Fade out */
}

.App-header {
  background-color: #7a7a7a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.lernsystem-text {
  font-family: 'Source Code Pro', monospace; 
  font-size: 2rem; 
  font-weight: bold; 
  color: #000000; 
  margin-bottom: 50px;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
