.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #7a7a7a; 
  color: rgb(0, 0, 0);
  font-family: 'Source Code Pro', monospace; 
  padding-top: 70px;
}

.todo-list-title {
  font-size: 2rem;
  margin-bottom: 60px;
  padding: 10px 20px; 
  border: 2px solid rgb(0, 0, 0); 
  border-radius: 8px; 
  background-color: rgba(0, 0, 0, 0.2); 
}

.todo-list-content {
  width: 80%;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.todo-list-button {
  margin-top: 10px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'Source Code Pro', monospace; 
  width: 200px; /* Feste Breite für den Button */
  height: 50px; /* Feste Höhe für den Button */
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list-button:hover {
  background-color: #3a3a3a;
  transform: scale(1.05);
}
.edit-task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-task-form input,
.edit-task-form textarea,
.edit-task-form select,
.edit-task-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-task-form button {
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-task-form button:hover {
  background-color: #3a3a3a;
  transform: scale(1.05);
}
.edit-task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.edit-task-form input,
.edit-task-form textarea,
.edit-task-form select,
.edit-task-form button {
  width: calc(100% - 20px); /* 100% Breite minus Padding */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-task-form button {
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-task-form button:hover {
  background-color: #3a3a3a;
  transform: scale(1.05);
}



.edit-task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.edit-task-form input,
.edit-task-form textarea,
.edit-task-form select,
.edit-task-form button {
  width: calc(100% - 20px); /* 100% Breite minus Padding */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-task-form button {
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

